<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNLPrOfsW2WUITI3c1d-MmEFYioL_kKnw</string>
	<key>GCM_SENDER_ID</key>
	<string>505765642038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.aeronex.eliteAcademy</string>
	<key>PROJECT_ID</key>
	<string>elite-academy-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>elite-academy-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505765642038:ios:b5c3a7556568a194473d97</string>
</dict>
</plist>